<%= form_with(model: blog) do |form| %>
  <% if blog.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
        <% blog.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="container">
  <div class="field mb-3">
    <%= form.label :title, style: "display: block", class: 'form-label' %>
    <%= form.text_field :title, class: 'form-control', placeholder: 'Escribe tu post' %>
  </div>

  <div class="field mb-3">
    <%= form.label :image_url, style: "display: block", class: 'form-label' %>
    <%= form.text_field :image_url, class: 'form-control', placeholder: 'Escribe tu post' %>
  </div>

  <div class="field mb-3">
    <%= form.label :content, style: "display: block", class: 'form-label' %>
    <%= form.text_area :content, class: 'form-control', placeholder: 'Escribe tu post' %>
  </div>

  <div class="field mb-3">
    <%= form.label :author, style: "display: block", class: 'form-label' %>
    <%= form.text_field :author, class: 'form-control', placeholder: 'Escribe tu post' %>
  </div>

  <div class="field mb-3">
    <%= form.label :status, style: "display: block", class: 'form-label' %>
    <%= form.select(:status, Blog.statuses.keys.map{|b| [b.humanize, b]}, {}, {class: 'form-control'}) %>

  </div>

  <div>
    <%# <%= form.submit %>
    <button type="submit" class="btn btn-secondary">Guardar</button> 
    <%= link_to "Blog", root_path, class:"btn btn-secondary" %> 
  </div>
<% end %>
</div>
