<div>
    <h1>Editar Edificio</h1>
<div class="col-6">
    <%= form_with(model: @edificio) do |form| %>
        <% if @edificio.errors.any? %>
                <div id="error_explanation">
                <h2><%= pluralize(@edificio.errors.count, "error") %> prohibited this building from being saved:</h2>
                <ul>
                    <% @edificio.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                    <% end %>
                </ul>
                </div>
            <% end %>
        <div>
            <%= form.label :nombre %>
            <%= form.text_field :nombre, class: "form-control" %>
            <%# no usar form_for %>
        </div>
        <div>
            <%= form.label :direccion %>
            <%= form.text_field :direccion, class: "form-control" %>
        </div>
        <div>
            <%= form.label :ciudad %>
            <%= form.text_field :ciudad, class: "form-control" %>
        </div>
        <div>
            <%# <%= form.submit "Guardar" %>
            <%= form.submit nil, class: "btn btn-secondary mt-5" %>
        </div>
    <% end %>
    </div>
</div>
<%= link_to "Lista de edificios", list_edificios_path, class: "btn btn-secondary mt-5" %>