<%= form_with(model: departamento) do |form| %>
    <% if departamento.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(departamento.errors.count, "error") %> prohibited this building from being saved:</h2>
            <ul>
            <% departamento.errors.each do |error| %>
            <li><%= error.full_message %></li>
            <% end %>
            </ul>
        </div>
    <% end %>

    <div>
        <%= form.label :numero, class: "form-label"  %>
        <%= form.text_field :numero, class: "form-control" %>
        <%# no usar form_for %>
    </div>
    <div>
        <%= form.label :rent, class: "form-label"  %>
        <%= form.text_field :rent, class: "form-control" %>
    </div>
    <% if departamento.edificio %>
        <div>
            <%= form.label :edificio_id, "ID Edificio", class: "form-label" %>
            <%= form.text_field :edificio_id, id:"disableTextImput", class:"form-control", disabled: :true %>
        </div>
    <%else %>
        <div type="hidden"></div>
    <% end %>
    <div>
        <%= form.label :edificio_id, class: "form-label"  %>
        <% if departamento.edificio %>
            <%= form.select(:edificio_id, options_from_collection_for_select(edificios, :id, :nombre_completo, departamento.edificio_id), {}, {class: "form-select"}) %>
        <% else %>
            <%= form.select(:edificio_id, options_from_collection_for_select(edificios, :id, :nombre_completo), { include_blank: "Elige un edificio" }, {class: "form-select"}) %>        
        <% end %>
    </div>
    <div>
        <%= form.label :cliente_id, class: "form-label"  %>
        <% if departamento.cliente %>
            <%= form.select(:cliente_id, options_from_collection_for_select(@clientes, :id, :nombre, departamento.cliente_id), {}, {class: "form-select"}) %>
        <% else %>
            <%= form.select(:cliente_id, options_from_collection_for_select(@clientes, :id, :nombre), { include_blank: "Elige un cliente" }, {class: "form-select"}) %>        
        <% end %>
    </div>
    <%# <p>Apartment fields</p>
    <%= form.fields_for :departamentos do |departamento_form| %>
        <%# <%= departamento_form.label :numero %>
        <%# <%= departamento_form.text_field :numero %> 
        <%# <%= departamento_form.label :renta %>
        <%# <%= departamento_form.text_field :renta %>
    <%# <% end %> 
    <div class="">
        <%= form.submit nil, class: "btn btn-secondary mt-5" %>
    </div>
<% end %>