<h1 class="mb-5 d-flex justify-content-center">Lista de departamentos</h1>
<table class="table table-bordered tabla">
    <thead>
        <tr>
            <th>Id Departamento</th>
            <th>Número</th>
            <th>ID Edificio</th>
            <th>Nombre Edificio</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <% @departamentos.each do |departamento| %>
            <tr>
                <td><%= departamento.id %></td>
                <td><%= departamento.numero %></td>
                <td><%= departamento.edificio_id %></td>
                <td><%= departamento.edificio.nombre %></td>
                <td class="d-flex justify-content-evenly"><%= link_to departamento, class:"btn btn-secondary" do%>Ver <%end%>
                    <%= link_to "Editar", edit_departamento_path(departamento), class:"btn btn-secondary"%>
                    <%= button_to "Eliminar", departamento, method: :delete, data: {confirm: "Seguro?"}, class:"btn btn-danger" %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
<div class="d-flex justify-content-evenly">
<%= link_to "Crear departamento nuevo", new_departamento_path, class: "btn btn-secondary" %>
<%= link_to "Lista de edificios", edificios_path, class: "btn btn-secondary" %>
</div>
<%= link_to 'Volver', :back, class:"" %>