<h1 class="mb-5 d-flex justify-content-center">Lista de departamentos</h1>
<%# inicio buscador %>
  <div class="d-flex justify-content-end">
    <%= search_form_for @q do |f| %>
    <div class="d-flex mb-5 mb-lg-0 gap-3">
      <div class="mb-5">
        <%= f.select :numero_cont, options_for_select(@departamentos.map { |c| [c.numero]}),{:include_blank => true, :prompt => 'Elige un numero de departamento'}, {:class => 'form-select'}  %> 
      </div>
      <div>
      <%= f.submit "Search", class: "btn btn-outline-secondary" %> 
      </div>     
    </div>
    <% end %>
  </div>
<%# fin buscador %>


<table class="table table-bordered tabla">
    <thead>
        <tr>
            <th>Id Departamento</th>
            <th>Número</th>
            <th>ID Edificio</th>
            <th>Nombre Edificio</th>
            <th># Cliente</th>
            <th>Cliente</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <% @departamentos.each do |departamento| %>
            <tr>
                <td><%= departamento.id %></td>
                <td><%= departamento.numero %></td>
                <td><%= departamento.edificio_id %></td>
                <td><%= departamento.edificio.nombre %></td>
                <td><%= departamento.cliente.id %></td>
                <td><%= departamento.cliente.nombre %> <%= departamento.cliente.apellido %></td>
                <td class="d-flex justify-content-evenly"><%= link_to departamento, class:"btn btn-secondary" do%>Ver <%end%>
                    <%= link_to "Editar", edit_departamento_path(departamento), class:"btn btn-secondary"%>
                    <%= button_to "Eliminar", departamento, method: :delete, data: {confirm: "Seguro?"}, class:"btn btn-danger" %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
<div class="d-flex justify-content-end">  
<%= paginate @departamentos, theme: 'bootstrap-5' %> 
<%# <%= paginate @books, theme: 'bootstrap-5' %> 
</div>
<div class="d-flex justify-content-evenly">
<%= link_to "Crear departamento nuevo", new_departamento_path, class: "btn btn-secondary" %>
<%= link_to "Lista de edificios", edificios_path, class: "btn btn-secondary" %>
</div>
<%= link_to 'Volver', :back, class:"" %>